.container{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

//U T I L I T Y
.hidden{
  visibility: hidden;
}
.none{
  display: none;
}

.line{
  display: inline;
 position: absolute;
  z-index: 0;
  width: 20rem;
  height: .5rem;
  background-color:$color-dark-text;
  &-2{
  transform: rotate(40deg) translateY(-20px) translateX(-110px);

  }
  &-3{
    transform:rotate(139deg) translateY(0px) translateX(-109px);

  }

}


.scores{
  width: 40%;
  height: 10rem;
  border: 4px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  display: flex;
  justify-content:space-between;
  
  &--names{
    color: white;
    font-size: 1.7rem;
    letter-spacing: .4rem;
    font-weight: 700;
    line-height: 2.8rem;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
  }
  &--container{
    margin: 1rem;
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: hsl(217, 16%, 45%) ;
    font-weight: 700;
    border-radius: 10px;
  }
      &--title{
        font-size: 1rem;
        letter-spacing: .3rem;
        color: $color-score-text
      }
      &--number{
        font-size: 4rem;
      }
}


.choices{
  

  width: 60%;
 

  &--turn{
    color: white ;
    font-size: 1.2rem;
    letter-spacing: .5rem;
  
    display: flex;
    height: 3rem;
    justify-content: space-between;
    margin-top: 3rem;
  
  }
 
 //
}

/* ICON */

.icon{
  width: 5rem;
  position: relative;
  z-index: 1000;
  
  &--wrap{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-top{
    
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    &-bottom{
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-white{
      background-color: white;
      padding: 4rem 5rem;
      border-radius: 50%;
      border-top: 1rem solid rgba(0, 0, 0, 0.205);
    }
    &-paper{
      z-index: 1000;
      cursor: pointer;
      padding: 2rem 2rem;
      background:$color-paper;
      border-radius: 50%;
      border-bottom: 1rem solid  hsl(230, 92%, 61%);
    }

    &-scissors{
      z-index: 1000;
      cursor: pointer;

      width: 18rem;
      padding: 2rem 2rem;
      background: $color-scissor;
      border-radius: 50%;
      border-bottom: 1rem solid   hsl(40, 74%, 43%);
    }
    &-rock{
      z-index: 1000;
      cursor: pointer;

      width: 18rem;
      padding: 2rem 2rem;
      background: $color-rock;
      border-radius: 50%;
      border-bottom: 1rem solid    hsl(349, 68%, 41%);
    }
  }

}


.rules{
  width: 100%;

  display: flex;
  justify-content: end;
  margin-right: 5rem;
  margin-bottom: 2rem;
  

  &-btn{
    height: 3rem;
    width: 9rem;
    color: white;
    font-size: 1.2rem;
    letter-spacing: .4rem;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid $color-outline;

    cursor: pointer;
  }
}

.show-rules{
 background-color:hsla(214, 47%, 23%, 0.699);
 width: 100%;
 height: 100%;
 position: absolute;
 z-index: 4000;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  &-rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    position: relative;
   background-color: white;
   border-radius: 20px;
    width: 30rem;
   height: 30rem;

  }
     &-text{
       width: 100%;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
     }
     &-x{
       cursor: pointer;
       position: absolute;
       left: 92%;
       top: 5%;
       font-size: 1.5rem;
       color: $color-outline;
     }
  &-title{
    display: flex;
    align-self: flex-start;
    margin-left: 2rem;
    color: $color-dark-text;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 700;
    text-transform: uppercase;
    
  }
}

.play{
  font-size: 2rem;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0 2rem;

  &-again{
    font-size: 1rem;
    font-weight: 700;
    padding: 0 4rem;
    height: 3.5rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    letter-spacing: .1rem;
    cursor: pointer;
    margin-top: 1rem;
    
    color: hsl(349, 71%, 52%);
  }
}

.choice-computer,.your-choice{
  z-index: 2000;
}

#selection{
  display: none;
}